/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2017, 9:54:42 AM
    Author     : jonathongray
*/

.table-row-cell:selected {
    -fx-background-color: #8BC34A;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}