/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 11:34:19 PM
    Author     : jonathongray
*/

.root{
    -dark-primary-color:    #689F38; 
    -default-primary-color: #8BC34A;
    -light-primary-color:   #DCEDC8; 
    -text-primary-color:    #212121;
    -accent-color:          #607D8B;
    -primary-text-color:    #212121; 
    -secondary-text-color:  #757575;
    -divider-color:         #BDBDBD;
}
.table-row-cell:selected {
    -fx-background-color: #8BC34A;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}