/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2017, 9:45:46 PM
    Author     : Jonathon
*/


/*
Color palette

.dark-primary-color    { background: #689F38; }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/
.root{
    -dark-primary-color:    #689F38; 
    -default-primary-color: #8BC34A;
    -light-primary-color:   #DCEDC8; 
    -text-primary-color:    #212121;
    -accent-color:          #607D8B;
    -primary-text-color:    #212121; 
    -secondary-text-color:  #757575;
    -divider-color:         #BDBDBD;
}
.jfx-decorator {
    
    -fx-decorator-color: -dark-primary-color;
}
.jfx-decorator .jfx-decorator-buttons-container{
    -fx-background-color:-fx-decorator-color;
}
.jfx-decorator .resize-border{
    -fx-border-color:-fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}


/*
    The tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color: #8BC34A;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #8BC34A;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #689F38;
    -fx-stroke-width: 3pt;
}

.tool-bar {
    -fx-base: #8BC34A;
    -fx-background-color: default;
    -fx-effect: null;
}

/*
    The settings button
*/

#settingsButton{
   /*Your custom default button style*/
   -fx-background-color: transparent;
   -fx-background-radius: 30; 
   -fx-background-insets: 0,1,1;
   -fx-text-fill: black;
   -fx-effect: null;
   -fx-focus-color: transparent;
   -fx-base: coral;
   -fx-accent: transparent;
   -fx-focus-color: transparent;
}
#settingsButton:pressed{
   /*Your custom default button style*/
   -fx-background-color: transparent;
   -fx-background-radius: 30; 
   -fx-background-insets: 0,1,1;
   -fx-text-fill: black;
   -fx-effect: null;
   -fx-focus-color: transparent;
   -fx-base: coral;
   -fx-accent: transparent;
   -fx-focus-color: transparent;    
}
#settingsButton:hover{

}
#settingsButton:selected{
 
}

.tool-bar{
	-fx-background-color: #8BC34A;

}
