/*
 * Empty Stylesheet file.
 */
.jfx-tab-pane .headers-region {
    -fx-background-color: #8BC34A;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #8BC34A;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #689F38;
    -fx-stroke-width: 3pt;
}
